#pirate has many ships - create 1 pirate instance and 2 ship instances
<!DOCTYPE html>
<html>
  <head>
    <title>Pirate!</title>
  </head>
  <body>
    <form method="post" action="/pirates">
        <label for="name"> Pirate Name:</label>
        <input type="text" id="name" name="pirate[name]"><br>
        <br>
        <label for="weight"> Pirate Weight:</label>
        <input type="text" id="weight" name="pirate[weight]"><br>
        <br>
        <label for="height"> Pirate Height:</label>
        <input type="text" id="height" name="pirate[height]"><br>
        <br>
        <label for="name"> First Ship's Name:</label>
        <input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>
        <br>
        <label for="type"> First Ship's Type:</label>
        <input type="text" id="ship_type_1" name="pirate[ships][][type]"><br>
        <br>
        <label for="booty"> First Ship's Booty:</label>
        <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br>
        <br>
        <label for="name"> Second Ship's Name:</label>
        <input type="text" id="ship_name_2" name="pirate[ships][][name]"><br>
        <br>
        <label for="type"> Second Ship's Type:</label>
        <input type="text" id="ship_type_2" name="pirate[ships][][type]"><br>
        <br>
        <label for="booty"> Second Ship's Booty:</label>
        <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
